node_modules
npm-debug.log
.env
.env.local
.git
.gitignore
coverage
.nyc_output
.DS_Store
*.log
logs
uploads/*
!uploads/.gitkeep
prisma/*.db
prisma/*.db-journal
tests
jest.config.json
README.md
*.md
.github
.vscode
.idea